<div id="wrapper">
    <div>
        <div id="is-down">
            <span>上拉刷新</span>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div id="cont">
                        <div class="swiper-container banner">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="Content/images/img1.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="Content/images/img2.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="Content/images/img3.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="buying">
                            <dl>
                                <dt class="bg-danger">
                                    <i class='fa fa-laptop'></i>
                                </dt>
                                <dd>
                                    找二手车
                                </dd>
                            </dl>
                            <dl>
                                <dt class="bg-orange">
                                    <i class='fa fa-gamepad'></i>
                                </dt>
                                <dd>
                                    团队活动
                                </dd>
                            </dl>
                            <dl>
                                <dt class="bg-danger">
                                    <i class='fa fa-navicon'></i>
                                </dt>
                                <dd>
                                    分期购
                                </dd>
                            </dl>
                            <dl>
                                <dt class="bg-blue">
                                    <i class='fa fa-xing'></i>
                                </dt>
                                <dd>
                                    车商城
                                </dd>
                            </dl>
                        </div>
                        <div class="pic">
                            <img src="Content/images/img4.gif" alt="">
                        </div>
                        <div class="service">
                            <h5>
                                车主服务
                            </h5>

                            <div class="cont">
                                <dl>
                                    <dt>
                                        <i class='fa fa-qrcode  text-highlight-blue'></i>
                                    </dt>
                                    <dd>
                                        油卡充值
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <i class='fa fa-wheelchair  text-light-red'></i>
                                    </dt>
                                    <dd>
                                        低价保险
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <i class='fa fa-envira  text-highlight-blue'></i>
                                    </dt>
                                    <dd>
                                        4S店保养
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <i class='fa fa-television  text-high-blue'></i>
                                    </dt>
                                    <dd>
                                        品质轮胎
                                    </dd>
                                </dl>
                            </div>
                            <div class="cont">
                                <dl>
                                    <dt>
                                        <i class='fa fa-yelp  text-light-red'></i>
                                    </dt>
                                    <dd>
                                        车品商城
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <i class='fa fa-user-circle-o  text-orange'></i>
                                    </dt>
                                    <dd>
                                        洗车
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <i class='fa fa-i-cursor  text-high-blue'></i>
                                    </dt>
                                    <dd>
                                        违章代缴
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <i class='fa fa-object-group  text-light-red'></i>
                                    </dt>
                                    <dd>
                                        免费测评
                                    </dd>
                                </dl>
                            </div>
                            <div class="cont">
                                <dl>
                                    <dt>
                                        <i class='fa fa-pied-piper  text-orange'></i>
                                    </dt>
                                    <dd>
                                        查周边
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <i class='fa fa-laptop  text-highlight-blue'></i>
                                    </dt>
                                    <dd>
                                        车主卡
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <i class='fa fa-key  text-highlight-blue'></i>
                                    </dt>
                                    <dd>
                                        领券保养
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <i class='fa fa-jpy  text-high-blue'></i>
                                    </dt>
                                    <dd>
                                        全部
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="sale">
                            <div class="title">
                                <h5>限时抢购</h5>

                                <p><span>12</span>:<span>12</span>:<span>12</span></p>
                            </div>
                            <div class="buy">
                                <dl>
                                    <dt>
                                        <img src="Content/images/img5.gif" alt="">
                                    </dt>
                                    <dd>
                                        <p>
                                            补胎工具简易套装
                                        </p>
                                        <span>￥9.9元</span> <s>28元</s>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="Content/images/img5.gif" alt="">
                                    </dt>
                                    <dd>
                                        <p>
                                            补胎工具简易套装
                                        </p>
                                        <span>￥9.9元</span> <s>28元</s>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="zone">
                            <div class="title">
                                <h5>
                                    活动专区
                                </h5>
                                <span>更多活动 <i class="fa fa-angle-right"></i></span>
                            </div>
                            <div class="main">
                                <dl>
                                    <dd>
                                        <p>
                                            测身价炫富
                                        </p>
                    <span>
                        身价大PK
                    </span>
                                    </dd>
                                    <dt>
                                        <img src="Content/images/img7.gif" alt="">
                                    </dt>
                                </dl>
                                <dl>
                                    <dd>
                                        <p>
                                            全场0利率
                                        </p>
                    <span>
                        购车无压力
                    </span>
                                    </dd>
                                    <dt>
                                        <img src="Content/images/img8.gif" alt="">
                                    </dt>
                                </dl>
                                <dl>
                                    <dd>
                                        <p>
                                            好车分期
                                        </p>
                    <span>
                        定制专属方案
                    </span>
                                    </dd>
                                    <dt>
                                        <img src="Content/images/img9.gif" alt="">
                                    </dt>
                                </dl>
                            </div>
                        </div>
                        <div class="guess">
                            <div class="title">
                                <h5>
                                    活动专区
                                </h5>
                                <span>更多<i class="fa fa-angle-right"></i></span>
                            </div>
                            <div class="more">
                                <div class="cont">
                                    <dl>
                                        <dt>
                                            <img src="Content/images/img10.gif" alt="">
                                        </dt>
                                        <dd>
                                            <p>上海大众-全新旅途L</p>
                                            <span>上海大众-全新路途L享2年0利率</span>

                                            <p><strong>￥1元</strong><s>1.44万</s></p>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <img src="Content/images/img11.gif" alt="">
                                        </dt>
                                        <dd>
                                            <span>上海大众-全新旅途L</span>

                                            <p>上海大众-全新路途L享2年0利率</p>

                                            <p><strong>￥1元</strong><s>1.44万</s></p>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="more">
                                    <div class="cont">
                                        <dl>
                                            <dt>
                                                <img src="Content/images/img10.gif" alt="">
                                            </dt>
                                            <dd>
                                                <p>上海大众-全新旅途L</p>
                                                <span>上海大众-全新路途L享2年0利率</span>

                                                <p><strong>￥1元</strong><s>1.44万</s></p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <img src="Content/images/img11.gif" alt="">
                                            </dt>
                                            <dd>
                                                <span>上海大众-全新旅途L</span>

                                                <p>上海大众-全新路途L享2年0利率</p>

                                                <p><strong>￥1元</strong><s>1.44万</s></p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="is-up">
            <span>下拉加载</span>
        </div>
    </div>
</div>
